{% extends 'layout/base.html' %}
{% load mathfilters %}
{% load static %}
{% load humanize %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/custom/modal.css'%}">
{% endblock customcss %}

{% block content %}
<section class="small-section bg-dark">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-0">Keranjang</h1>
            </div>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <table class="table table-striped shopping-cart-table">
                    <tr>
                        <th class="hidden-xs">
                            Gambar
                        </th>
                        <th>
                            Produk
                        </th>
                        <th>
                            Jumlah
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Aksi
                        </th>
                    </tr>
                    {% for row in barang %}
                    <tr>
                        <td class="hidden-xs">
                            {% if row.barang.gambar %}
                            <img src="{{row.barang.gambar.url}}" alt="" / style="max-width: 150px;">
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" title="" style="text-transform: capitalize;">{{row.barang.nama}}</a>
                        </td>
                        <td>
                            {{row.jumlah}} Pcs
                        </td>
                        <td>
                            {% if row.diskon != 0 %}
                            Rp. {% with numerator=row.barang.harga|mul:row.barang.diskon|div:100%}
                            {{row.barang.harga|sub:numerator|mul:row.jumlah|floatformat|intcomma}}
                            {% endwith %}
                            {%else%}
                            Rp. {% with numerator=row.barang.harga|mul:row.jumlah %}
                            {{numerator|intcomma}}
                            {% endwith %}
                            {% endif %}
                        </td>
                        <td>
                            <form method="post" action="{% url 'transaksi:hapus-keranjang' user.username %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{row.id}}" name="kode">
                                <button type="button" class="btn btn-mod btn-round tampilmodal" data-kode="{{row.id}}"><i class="fa fa-wrench"></i></button>
                                <button type="submit" onclick="return confirm('Hapus Data ?')"
                                    class="btn btn-mod btn-round"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <hr class="mb-60" />

                <div class="row">
                    <div class="col-sm-6">

                        <h3 class="small-title font-alt">Alamat pengiriman</h3>

                        <form action="#" class="form">

                            <div class="mb-10">
                                            <select class="input-md form-control">
                                                <option>Provinsi</option>
                                                <option>France</option>
                                                <option>Ukraine</option>
                                                <option>USA</option>
                                            </select>
                                        </div>
                                        <div class="mb-10">
                                            <select class="input-md form-control">
                                                <option>Kota</option>
                                                <option>France</option>
                                                <option>Ukraine</option>
                                                <option>USA</option>
                                            </select>
                                        </div>
    

                            <div class="mb-10">
                                <input placeholder="Alamat" class="input-md form-control" type="text"
                                    pattern=".{3,100}" />
                            </div>

                            <div class="mb-10">
                                <input placeholder="Kode Pos" class="input-md form-control" type="text"
                                    pattern=".{3,100}" />
                            </div>

                        </form>

                    </div>
                    <div class="col-sm-6 text align-right pt-10">
                        
        
                        <div>
                            <td>
                            Jumlah Barang: <strong>{{jumlah__sum|intcomma}} Pcs</strong>
                            </td>
                            <div>
                                Subtotal: <strong>Rp. {{total__sum|intcomma}}</strong>
                            </div>

                            <div class="mb-10">
                                Ongkir: <strong>Rp. 0</strong>
                            </div>

                            <div class="lead mt-0 mb-30">
                                Total : <strong>Rp. 0</strong>
                            </div>

                            <div>
                            <a href="#" class="btn btn-mod btn-round btn-large">Beli Sekarang</a>
                            </div>
                            <table>
                            <tr></tr>
                            </table>
                        </div>

                    </div>

</section>
{% for row in barang %}
<div id="myModal{{row.id}}" class="modal">
        <div class="modal-dialog">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Data</h4>
                                </div>
                                <hr style="border: 1px solid ;">
                                <div class="modal-body">
                                    <form role="form" action="{% url 'transaksi:edit' user.username %}" method="POST" onsubmit="return validasiform()">
                                       
                                        <div class="form-group">
                                            <img src="{{row.barang.gambar.url}}" alt="" / style="max-width: 150px;">
                                        </div>
                                        
                                        <div class="form-group">
                                            {% csrf_token %}
                                            
                                            <input type="hidden" id="stok" name="stok" value="{{row.barang.stok}}">

                                            <input type="hidden" name="barang" value="{{row.barang.id}}">
                                            <input type="hidden" name="kode" value="{{row.id}}">
                                            
                                            <div id="errormsg" class="alert error hide">
                                                <span id="errorisi"></span>
                                            </div>

                                            <label for="">Jumlah</label>
                                            <input type="number" name="jumlah" value="{{row.jumlah}}" class="form-control" id="jumlah" min="0">

                                        </div>                          
                                       <div class="text-right">
                                        <button type="submit" class="btn btn-mod btn-round">Perbarui</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
    </div>

</div>
{% endfor %}
{% endblock content %}

{% block customjs %}
<script>
    $('.tampilmodal').click(function(){
        var kode = $(this).data('kode');
        var modal = document.getElementById("myModal"+kode);
        modal.style.display = "block"; 
        
    });
    $('.close').click(function(){
        $('.modal').hide(); 
    });
</script>

<script>
function validasiform() {
         if($('#jumlah').val()==0 || $('#jumlah').val()=='' ){
            $('#errorisi').html('Oops, Jumlah tidak boleh berjumlah kosong');
            $("#errormsg").removeClass("hide");
            return false;
        }else{
            if(parseInt($('#jumlah').val())>parseInt($('#stok').val())){
                $('#errorisi').html('Oops, Stok tidak cukup');
                $("#errormsg").removeClass("hide");
                return false;
            }else{
                $('#errorisi').html('');
                $("#errormsg").addClass("hide");
                return true;
            }
         }
  }
</script>

{% endblock customjs %}
