{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
<section class="page-section bg-dark parallax-3">
    <div class="relative container align-left">
        
        <div class="row">
            <br>
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Detail Pesanan</h1>
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Head Section -->

            <!-- Section -->
            <section class="page-section">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="table-responsive">
                                <table class="table table-striped shopping-cart-table">
                                    <tr>
                                        <th>
                                            No
                                        </th>
    
                                        <th>
                                            Gambar
                                        </th>
                                        
                                        <th>
                                            Nama Produk
                                        </th>
                                        
                                        <th>
                                            Jumlah
                                        </th>
    
                                        <th>
                                            Berat
                                        </th>
    
                                        <th>
                                            Harga Sub-Total
                                        </th>
                                        
                                    </tr>
                                   
                                    {% for row in detail %}
                                    <tr >
                                        <td>   
                                            {{forloop.counter}}
                                        </td>
    
                                        <td>
                                            {% if row.barang.gambar %}
                                                <img src="{{row.barang.gambar.url}}" alt="" / style="max-width: 150px;">
                                            {% endif %}
                                        </td>
    
                                        <td>
                                           {{row.barang.nama}}
                                        </td>
    
                                        <td>
                                            {{row.jumlah}}
                                        </td>
    
                                        <td>
                                            {{row.berat_total|div:1000}} Kg
                                        </td>
    
                                        <td>
                                            Rp. {{row.total|intcomma}}
                                        </td>
    
                                    </tr>
                                    {% endfor %}
                                </table>

                            </div>
                            <hr />
                            <br>
                            <div class="row">
                                <div align="center">
                                        <button type="submit" class="btn btn-danger btn-round btn-gray btn-sm mb-xs-100" onclick="history.go(-1)">Kembali</button>
                                </div>
                                <!-- <div class="col-sm-4 text align-right">
                                    
                                    <div>
                                        <a href="" class="btn btn-mod btn-gray btn-round btn-small">Cara Verifikasi</a>
                                    </div>
                                    
                                </div> -->
                            </div>
                            
                            <!-- <hr class="mb-60" /> -->
                            
                            
                            
                        </div>
                    </div>
                
                </div>
            </section>
            <!-- End Section -->

{% endblock content %}