{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

<!-- Head Section -->
<section class="small-section bg-dark">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Pesanan Saya</h1>
            </div>

        </div>

    </div>
</section>
<!-- End Head Sectio-->

<!-- Section -->
<section class="page-section">
    <div class="container">

        <div class="row">
            {% if jumlah > 0 %}
            <div class="col-md-10 col-md-offset-1">

                <table class="table table-striped shopping-cart-table">
                    <tr>
                        <th>
                            Kode Transaksi
                        </th>

                        <th>
                            Tanggal Pembelian
                        </th>

                        <th>
                            Opsi Pengiriman
                        </th>

                        <th>
                            Ongkir
                        </th>

                        <th>
                            Total Biaya
                        </th>

                        <th>
                            No Resi Pengiriman
                        </th>

                        <th>
                            Status
                        </th>

                        <th>
                            Aksi
                        </th>

                    </tr>
                    {% for row in data_transaksi %}
                    <tr>
                        <td>
                            <a href="{% url 'transaksi:detailpesanan' row.kode_transaksi %}">{{row.kode_transaksi}}</a>
                        </td>

                        <td>
                            {{row.tanggal_beli}}
                        </td>

                        <td>
                            {{row.opsi_pengiriman}}
                        </td>

                        <td>
                            Rp. {{row.ongkir|intcomma}}
                        </td>

                        <td>
                            Rp. {{row.total_biaya|intcomma}}
                        </td>

                        <td>
                            {{row.resi_pengiriman}}
                        </td>

                        <td>
                            {% if row.status_verifikasi != False %}
                            Verifikasi
                            {% else %}
                            Belum Verifikasi
                            {% endif %}
                        </td>

                        <td>
                            <button class="btn btn-warning btn-round btn-small mb-xs-10"><a href="{% url 'transaksi:detailpesanan' row.kode_transaksi %}">Detail</a></button>
                        </td>


                    </tr>
                    {% endfor %}
                </table>

                <hr />

                <div class="row">
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-danger btn-round btn-gray btn-small mb-xs-10"
                            onclick="history.go(-1)">Kembali</button>
                    </div>
                    <div class="col-sm-4 text align-right">

                        <div>
                            <a href="{%url 'cara_verifikasi' %}" class="btn btn-mod btn-green btn-round btn-small">Cara
                                Verifikasi</a>

                        </div>

                    </div>
                </div>

                <!-- <hr class="mb-60" /> -->



            </div>
            {% else %}
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="text-danger">
                    <strong>Oops !</strong>
                </h1>
                <img src="{% static 'images/sad_2.png' %}" alt="sad people" style="max-width: 450px;">
               <br>
                Anda belum pernah melakukan pemesanan/transaksi
            </div>
            {% endif %}
        </div>

    </div>
</section>
<!-- End Section -->

{% endblock content %}