{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
<section class="small-section bg-dark">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Detail Produk</h1>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">
        <div class="row mb-60 mb-xs-30">
            <div class="col-md-4 mb-md-30">
                <div class="post-prev-img">
                    {% if barang.gambar %}
                    <a href="{{barang.gambar.url}}" class="lightbox-gallery-3 mfp-image"><img
                        src="{{barang.gambar.url}}" alt="" /></a>
                    {% endif %}
                   {% if barang.diskon != 0 %}
                    <div class="intro-label">
                        <span class="label label-danger bg-red">{{barang.diskon}}%</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8 col-md-5 mb-xs-40">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }}"><i class="fa fa-lg fa-check-circle-o"></i> {{ message }}</div>
                {% endfor %}
            <br>
            {% endif %}
                <h3 class="mt-0">{{barang.nama}}</h3>
                <hr class="mt-0 mb-30" />
                <div class="row">
                    {% if barang.diskon != 0 %}
                    <div class="col-xs-6 lead mt-0 mb-20">
                        <del class="section-text">Rp. {{barang.harga|intcomma}}</del>
                        <strong>
                            Rp. {% with numerator=barang.harga|mul:barang.diskon|div:100%}
                            {{barang.harga|sub:numerator|floatformat|intcomma}}
                            {% endwith %}
                        </strong>
                    </div>
                    {% else %}
                    <div class="col-xs-6 lead mt-0 mb-20">
                        <strong>Rp. {{barang.harga|intcomma}}</strong>
                    </div>
                    {% endif %}
                </div>

                <hr class="mt-0 mb-30" />
                <div class="section-text mb-30">
                    {{barang.deskripsi}}
                </div>
                <hr class="mt-0 mb-30" />
                
                <div class="section-text small">
                    <div>Stok : {{barang.stok}} Pcs</div>
                    <div>Kategori : {{barang.kategori}}</div>
                    <div>Tanggal Posting : {{barang.tanggal_buat}}</div>
                    {% for row in contact %}
                    <div>Bingung Cara Order ? Hubungi : <br><a href="https://wa.me/{{row.nomer_hp_satu}}" target="blank()"> {{row.nomer_hp_satu}} (Admin 1)</a><br> <a href="https://wa.me/{{row.nomer_hp_dua}}" target="blank()"> {{row.nomer_hp_dua}} (Admin 2)</a></div>
                    {% endfor %}
                </div>
                <br>
                <hr class="mt-0 mb-30" />
                {% if user.is_authenticated %}
                <h3 class="mt-0">Masukan Keranjang</h3>
                <form action="{% url 'produk:show' barang.slug %}" class="form-group text-center" method="POST" onsubmit="return validasiform()">
                    <input type="hidden" id="stok" name="stok" value="{{barang.stok}}">
                    <input type="hidden" id="user" name="user" value="{{user.id}}">
                    <input type="hidden" id="barang" name="barang" value="{{barang.id}}">
                    <div id="errormsg" class="alert error hide">
                        <span id="errorisi"></span>
                    </div>
                    <div class="section-text mb-30">
                        {% csrf_token %}
                        {{form}}
                    </div>
                    <button type="button" onclick="history.go(-1)" class="btn btn-mod btn-circle btn-medium">Kembali</button> 
                    <button type="submit" class="btn btn-mod btn-circle btn-medium">Masukan Keranjang</button> 
                </form>
                {% else %}
                <button type="button" onclick="history.go(-1)" class="btn btn-mod btn-circle btn-medium">Kembali</button> 
                {% endif %}
                </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block customjs %}
<script>
function validasiform() {
         if($('#jumlah').val()==0 || $('#jumlah').val()=='' ){
            $('#errorisi').html('Oops, Jumlah tidak boleh berjumlah kosong');
            $("#errormsg").removeClass("hide");
            return false;
        }else{
            if(parseInt($('#jumlah').val())>parseInt($('#stok').val())){
                $('#errorisi').html('Oops, Stok tidak cukup');
                $("#errormsg").removeClass("hide");
                return false;
            }else{
                $('#errorisi').html('');
                $("#errormsg").addClass("hide");
                return true;
            }
         }
  }
</script>
{% endblock customjs %}