{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-dark parallax-3">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Detail Artikel</h1>
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <!-- Content -->
            <div class="col-sm-8">
                
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    
                    <!-- Text -->
                    <div class="blog-item-body">
                        
                        <h1 class="mt-0 font-alt">{{detail_artikel.judul}}</h1>

                        <div style="font-size: 15px; text-transform: uppercase;">
                            {{detail_artikel.kategori}} || {{detail_artikel.tanggal}}
                        </div>
                        
                        <!-- Media Gallery -->
                        <div class="blog-media mt-40 mb-40 mb-xs-30">
                            <ul class="clearlist content-slider">
                                <li>
                                    <img src="{{detail_artikel.gambar.url}}" alt="" />
                                </li>
                            </ul>
                        </div>
                        
                        <p style="text-align: justify;">
                            {{detail_artikel.isi}}
                        </p>

                        <button type="button" onclick="history.go(-1)" class="btn btn-mod btn-gray btn-round" ><i class="fa fa-angle-left"></i>Kembali</button>
                        
                        
                        
                    </div>
                    <!-- End Text -->
                    
                </div>
                <!-- End Post -->

            </div>
            <!-- End Content -->
            
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                
                <!-- Widget -->
                <div class="widget">
                    
                    <h5 class="widget-title font-alt">Kategori</h5>
                    
                    <div class="widget-body">
                        <ul class="clearlist widget-menu">
                            {% for row in detail_kategori %}
                            <li>
                                <a href="{% url 'blog:kategori' row.id %}">{{row.nama}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
                <!-- End Widget -->

                <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Artikel Lain</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-posts">

                                        {% for row in artikel_lain %}

                                        <li class="clearfix">
                                            <a href="{% url 'blog:show' row.slug %}"><img src="{{row.gambar.url}}" alt="" style="max-width: 25%;" class="widget-posts-img" /></a>
                                            
                                            <div class="widget-posts-descr">
                                                <a href="{% url 'blog:show' row.slug %}" style="text-transform: capitalize;">{{row.judul}}</a>
                                                <p style="text-transform: capitalize; font-size: 12px;">{{row.kategori}} || {{row.tanggal}}</p>
                                            </div>
                                        </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                
            </div>
            <!-- End Sidebar -->
        </div>
        
    </div>
</section>
<!-- End Section -->

{% endblock content %}