{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-dark parallax-3">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Edit Profile</h1>
                <div class="hs-line-4 font-alt white">
                    Perbarui Data Anda
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Edit Profil Anda
        </h2>
        <div class="row">
            {% if messages %}
            <div class="col-md-8 col-md-offset-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }}"><i class="fa fa-lg fa-check-circle-o"></i>{{message}}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-md-8 col-md-offset-2">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{form}}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round">Simpan</button>
                        <button type="button" onclick="history.go(-1)"
                            class="submit_btn btn btn-mod btn-medium btn-round">Kembali</button>
                    </div>
                    {% if jumlah_alamat == 0 %}
                    Tambahkan <a href="{% url 'users:tambah-alamat' %}">alamat</a> pengiriman
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <hr>
    {% if jumlah_alamat > 0 %}
    <div class="benefits-grid">
        <div class="benefit-item">
            <div class="benefit-icon">
                <i class="fa fa-paper-plane-o"></i>
            </div>
            <h3 class="benefit-title font-alt">Alamat {{alamat.label}}</h3>
            <p>{{alamat.kota}}</p>
            <div class="benefits-descr">
                {{alamat.alamat_lengkap}}
            </div>
        </div>
        <br>
        <a href="{% url 'users:edit-alamat' %}" class="btn btn-mod btn-medium btn-round">Edit Alamat</a>
    </div>
    {% endif %}
</section>
{% endblock content %}