{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-dark parallax-3">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Cara Verifikasi</h1>
                <div class="hs-line-4 font-alt white">
                    Selamat Membaca petunjuk verifikasi pembelian produk Kami
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<!-- <section class="page-section"> -->
    <div class="container relative">
        
        <div class="row">
            
            <!-- Content -->
            <div class="col-sm-12">
                
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    
                    <!-- Text -->
                    <div class="blog-item-body">
                        
                        <!-- Media Gallery -->
                        <div class="blog-media mt-40 mb-40 mb-xs-30" style="text-align: center;">
                            <ul class="clearlist content-slider">
                                <li>
                                    <img src="{% static 'assets/images/verifikasi_image.png' %}" alt="" style="max-width: 550px;">
                                </li>
                            </ul>
                        </div>

                        <div>
                        	<ol>
                        		<li>Transfer dana yang sesuai dengan total biaya produk yang tertera ke nomer rekening berikut ini <b>928837817167755-BRI</b> </li>
                        		<li>Setelah selesai melakukan transfer dana, silahkan hubungi nomer WA salah satu Admin kami untuk melakukan konfirmasi pembayaran produk, berikut ini <b> Admin 1 : <a href="https://wa.me/085607039487" target="blank()">085607039487</a> </b> dan <b> Admin 2 : <a href="https://wa.me/081984758997" target="blank()">081984758997</a> </b></li>
                        		<li>Setelah konfirmasi pembayaran ke Admin, silahkan tunggu beberapa saat untuk persetujuan dari admin</li>
                        		<li>Jika pembayaran sudah konfirmasi Admin, silahkan cek kembali <b>Pesanan Saya </b> untuk mengecek Resi Pengiriman dari produk Anda</li>
                        		<li>Tunggu sampai produk Anda terkirim dan Silahkan berbelanja di toko kami lagi</li>
                                <li>Happy Shopping Gengs and Thank You So Much :)</li>
                        	</ol>
                    	</div>
                    </div>
                    <!-- End Text -->
                    
                </div>
                <!-- End Post -->
                <!-- tombol kembali -->
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-mod btn-round btn-gray btn-small mb-xs-10" onclick="history.go(-1)">Kembali</button>
                </div>

            </div>
            <!-- End Content -->
            
        </div>
        
    </div>
<!-- </section> -->
<!-- End Section -->

{% endblock content %}