{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="small-section bg-dark">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-12">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"></h1>
                <br>
                <div class="hs-line-4 font-alt white" align="center">
                    Hasil Pencarian
                </div>
            </div>
            
        </div>
        
    </div>
</section>

<section class="page-section">
    <div class="container relative">

        <div class="row">

            <!-- Content -->
            <div class="col-sm-12">

                <div class="row multi-columns-row">

                    <!-- Post Item -->
                    {% for row in hasil %}
                    <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">

                        <div class="post-prev-img">
                            <img src="{{row.gambar.url}}" alt=""/>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            {{row.nama}}
                        </div>
                        <div class="post-prev-info font-alt">
                            {{row.kategori}} || {{row.tanggal_buat}}
                        </div>
                        <div class="post-prev-text">
                            {{row.deskripsi|slice:"0:149"}}
                        </div>
                        <br>
                        <div class="post-prev-more align-center">
                            <a href="{% url 'produk:show' row.slug %}" class="btn btn-mod btn-gray btn-round"><i class="fa fa-eye"></i> Lihat
                                Detail</a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Post Item -->
                    
                </div> 
            </div>
        </div>
        
    </div>
</section>

<section class="small-section bg-dark">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-12">
                <div class="hs-line-4 font-alt white" align="center">
                    Artikel
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">

        <div class="row">

            <!-- Content -->
            <div class="col-sm-12">

                <div class="row multi-columns-row">

                    <!-- Post Item -->
                    {% for row in hasil2 %}
                    <div class="col-md-4 col-lg-4 mb-60 mb-xs-40">

                        <div class="post-prev-img">
                            <img src="{{row.gambar.url}}" alt=""/>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            {{row.judul}}
                        </div>
                        <div class="post-prev-info font-alt">
                            {{row.kategori}} || {{row.tanggal}}
                        </div>
                        <div class="post-prev-text">
                            {{row.isi|slice:"0:149"}}
                        </div>
                        <br>
                        <div class="post-prev-more align-center">
                            <a href="{% url 'blog:show' row.slug %}" class="btn btn-mod btn-gray btn-round"><i class="fa fa-eye"></i> Lihat
                                Detail</a>
                        </div>
                                               
                    </div>
                    {% endfor %}
                    <!-- End Post Item -->
                    
                </div> 
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}