{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<section class="page-section bg-dark parallax-3">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Galeri</h1>
                <div class="hs-line-4 font-alt">
                    Foto foto terbaru dari kami :D

                </div>
            </div>

        </div>

    </div>
</section>
<section class="page-section">
    <div class="container relative">
        <div class="works-filter font-alt align-center">
            <a href="#" class="filter active" data-filter="*">Semua Kategori</a>
            {% for row in kategori %}
            <a href="#{{row.slug}}" class="filter" data-filter=".{{row.slug}}">{{row.nama}}</a>
            {% endfor %}
        </div>
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
            {% for row in galeri %}
            <li class="work-item mix {{row.kategori.slug}}">
                <a href="{{row.gambar.url}}" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="{{row.gambar.url}}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{row.kategori.nama}}</h3>
                        <div class="work-descr">
                            {{row.deskripsi}}
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="text-center">
        {% if galeri.paginator.num_pages > 1 %}
        <!-- start -->
    {% include 'layout/_pagination.html' with items=galeri %}
        <!-- end -->
    {% endif %}
    </div>
    
</section>
{% endblock content %}